body{
 background-color:rgb(182, 162, 60); 
 display: flex;
 justify-content: center;
 align-items: center; 
 height: 100vh; 
 flex-direction: column;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;


}
form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;

}
label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}
button{
    float: right;
    background:rgb(182, 111, 23);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;

}
button:hover{
    opacity: .7;
}
.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    border-radius: 5px;
    widows: 95%;
    margin: 20px auto ;
}
h1{
    text-align: center;
    color: #fff;

}
a{
    float: right;
background:rgb(182, 111, 23);
padding: 10px 15px;
color: #fff;
border-radius: 5px;
margin-right: 10px;
border: none;
text-decoration:none ;

}
a:hover{
opacity: .7;
}